.autoImageContainer{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.btnContainer{
    display: grid;
    align-items: center;
    z-index: 1;
    padding:5px;
}
.btn{
    background-color:  #c9e4e7;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 5px 5px 25px white;
    cursor: pointer;
    transition: 500ms;
}
.backBtn{
    justify-self: flex-end;
}
.image{
    height: 600px;
    border-radius: 15px;
    border: white 1px solid;
    margin-top: 5px;;
    justify-self: flex-start;
}
.imageTitle{
    border: solid white 1px;
    text-align: center;
    color:white;
}

.btn:hover{
    background-color: #41337a;
    color:#c9e4e7;
    padding:10px;
    font-size: 20px;
}