.autoImageContainer{
    display: grid;
    grid-template-columns: 18% 64% 18%;
    border:solid red 1px;
}
.btnContainer{
    display: grid;
    align-items: center;
    z-index: 1;
    padding:5px;
}
.btn{
    background-color:  #c9e4e7;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 5px 5px 25px white;
    cursor: pointer;
    transition: 500ms;
}
.backBtn{
    justify-self: flex-end;
}
.imageBox{
    margin:0 auto;
    border: solid white 2px;
    border-radius: 15px;
    height:88%;
    width:90%;
    overflow-y: hidden;
}
.image{
    height: 99.6%;
    min-width: 100%;
    border-radius: 15px;
    justify-self: flex-start;
    z-index: 1;
    overflow-y: hidden;
}
.imageTitle{
    border: solid white 1px;
    text-align: center;
    color:white;
}

.btn:hover{
    background-color: #41337a;
    color:#c9e4e7;
    padding:10px;
    font-size: 20px;
}
@media screen and (max-width:1260px){
    .autoImageContainer{
        overflow-y: hidden;
    }
    .autoImageCarousel{
        overflow-y: hidden;
    }
    .imageBox{
        height:400px;
        overflow-y:hidden
    }
    .image{
        aspect-ratio: 1/1;
        height: 400px;
        overflow-y: hidden;
    }
}