.splashPage{
    border: solid red 1px;
    position: absolute;
    top:75px;
    z-index:1;
    width: 100vw;
    height:100vh;
    display: grid;
    grid-template-rows: 35% 65%;
}
.splashHeader{
    margin-top: 40px;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    text-align: center;
    width: 80%;
    justify-self: center;
    grid-row: 1;
    margin-bottom: 50px;
    border:solid white 1px;
    border-radius: 15px;
    background-color: #c9e4e7;
    box-shadow: 5px 5px 25px white;
    height:80%;
    z-index:3;
}
.splashTitle, .splashSubTitle, .splashP {
    width:fit-content;
    background-color: #c9e4e7;
    justify-self: center;
    color:  #41337a;
    
}
.images{
    width: 100vw;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 35px;
    grid-row:2;
}
.image{
    opacity:100%;
}
.image:hover{
    opacity:50%;
}
.excavator{
    grid-column:1;
    width:20vw;
    height:auto;
}
.countertop{
    grid-column:2;
    width: 20vw;
    height:auto;
}
.framingOutside{
    grid-column:3;
    width:20vw;
    height:auto
}
.respiratorPhoto{
    grid-column:4;
    width:20vw;
    height:auto;
}