.contact{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:  #c9e4e7;
    border-radius: 15px;
    box-shadow: 5px 5px 45px black;
    z-index: 1;
    width: 90%;
    margin:0 auto;
}
.contactHeaderContainer{
    background-color:  #c9e4e7;
    width:40%;
    text-align: center;
    padding:5px;
}
.contactHeaderContainer h3{
    background-color: #41337a;
    color: #c9e4e7;
    border-radius: 15px;
    border:solid white 1px;
    box-shadow: 5px 5px 5px black;
}
.contactInfo{
    background-color:  #c9e4e7;
    width: 40%;
    padding:5px;
    margin:5px;
}
.contactInfo ul {
    list-style: none;
    background-color:  #c9e4e7;
    color: #c9e4e7;
}
.contactInfo li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border:solid white 1px;
    padding: 4px;
    margin: 5px;
    margin-top:10px;
    background-color: #41337a;
    color: #c9e4e7;
    box-shadow: 5px 5px 5px black;
}
.contactInfo a {
    background-color:rgba(104, 104, 186, 0.16);
    color: #c9e4e7;
    text-decoration: none;
    cursor: pointer;
    transition: 300ms;
}
.contactInfo a:hover{
    color: #41337a;
    background-color:#c9e4e7;
    padding:5px;
    border-radius: 10px;
    border: solid 1px chartreuse;
}
.appointmentBtnBox{
    margin-top: 5px;
    background-color: #c9e4e7;
    display: flex;
    justify-content: center;
}
.appointmentBtn{
    background-color: #c9e4e7;
    border-radius: 15px;
    padding:5px;
    cursor: pointer;
    transition: 300ms;
}
.appointmentBtn:hover{
    background-color: #41337a;
    color:#c9e4e7;
    font-size: 15px;
}