.contact{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:  #c9e4e7;
    margin:10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black
}
.contactHeaderContainer{
    background-color:  #c9e4e7;
    width:40%;
    text-align: center;
    padding:5px;
}
.contactHeaderContainer h3{
    background-color: #41337a;
    border-radius: 15px;
    border:solid white 1px;
    box-shadow: 5px 5px 5px black;
}
.contactInfo{
    background-color:  #c9e4e7;
    width: 40%;
    padding:5px;
    margin:5px;
}
.contactInfo ul {
    list-style: none;
    background-color:  #c9e4e7;
}
.contactInfo li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border:solid white 1px;
    padding: 4px;
    margin: 5px;
    margin-top:10px;
    background-color: #41337a;
    box-shadow: 5px 5px 5px black;
}
.contactInfo a {
    background-color:rgba(104, 104, 186, 0.16);
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.contactInfo a:hover{
    color: white;
}