.navContainer{
    border:solid red 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navBar{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.navBar li{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    align-items: center;
    cursor: pointer;
    background-color: cornflowerblue;
}