.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navBar{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}
.navBar li{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 5px 5px 5px #c5d8d1;
    align-items: center;
    cursor: pointer;
    background-color: #c5d8d1;
}