.navBar{
    color: white;
   text-align: center;
   width: 100%
}
.navMenu{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    list-style: none;
}
.navItem{
    border: solid white 1px;
}