.reviewBox{
   display:grid;
   grid-template-rows: 10% 90%;
}
.titleHeader{
    width:30%;
    justify-self: center;

}
.titleHeader h3{
    justify-self: center;
    text-align: center;
    width: 50%;
    background-color:  #c9e4e7;
    margin-top: 5px;
    padding:5px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #c5d8d1;
}
.review{
    border:solid white 1px;
    text-indent: 40px;
    margin: 10px;
    margin-top: 20px;
    padding:5px;
    width:80%;
    border-radius: 15px;
    background-color:  #c9e4e7;
    box-shadow: 3px 3px 3px #c5d8d1;
    justify-self: center;
}