
.reviewBox{
    display: grid;
    grid-template-rows: 23% 57% 20%;
    justify-content: center;
    height:90%;
    width:100%;
    z-index:1;
    position: relative;
    
}
.reviewBoxHeader{
    justify-content: center;
    justify-self: center;
    grid-row: 1;
    min-width: 342px;
    display: grid;
    grid-template-rows:50% 50%;
    width: 40%;
  

}
.reviewBoxTitle{
    grid-row:1;
    font-size: 20px;
    background-color: #c5d8d1;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:fit-content;
    border-radius: 15px;
    padding:10px;
    margin: 10px;
    padding-left: 50px;
    padding-right: 50px;

}
.reviewBtn{
    grid-row:2;
    width: 50%;
    justify-self: center;
    border-radius: 15px;
    padding:5px;
    height:fit-content;
    border: solid white 1px;
    color:white;
    cursor: pointer;
    margin-top:20px;
    z-index:1;
    transition: 1s;
}
.reviewBtn:hover{
    background-color: #c9e4e7;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    /* transform: translateY(15%); */
    color:black;
}
.review{
    grid-row:2;
    border:solid white 1px;
    text-indent: 40px;
    padding:5px;
    width:80%;
    border-radius: 15px;
    background-color:  #c9e4e7;
    box-shadow: 3px 3px 3px #c5d8d1;
    justify-self: center;
    z-index:0;
}
.reviewP{
    justify-self: center;
    align-self: flex-start;
    border: solid 1px white;
    background-color: #c5d8d1;
    width:60%;
    height:fit-content;
    padding:20px;
    margin-top:20px;
    border-radius: 15px;
    box-shadow: 5px 5px 45px white;
    z-index:0;
}
.reviewAuthor{
    justify-self: center;
    text-align: center;
    align-self: flex-start;
    border: solid 1px white;
    background-color: #c5d8d1;
    width:30%; 
    height:fit-content;
    margin:0  auto;
    border-radius: 15px;
    z-index:2;
}
@media screen and (max-width: 1260px) {
    .reviewAuthor{
        bottom:25;
    }
}