/* * {border:1px solid red} */
.page{
  padding:0;
  margin:0;
  display: inline-grid;
}
.headerContainer{
  grid-column: auto;
  
}
.midGrid{
  display:grid;
  grid-template-columns: 50% 50%;
}
.projectContainer{
grid-column-start: 1;

}
.aboutContainer{
grid-column-start:2;
}

