
.page{
  padding:0;
  margin:0;
  width: 100%;
  display: inline-grid;
}
.page *{

border: red 1px solid;

}
.headerContainer{
  grid-column: auto;
  
}
.midGrid{
  display:grid;
  grid-template-columns: 50% 50%;
}
.projectContainer{
grid-column-start: 1;

}
.reviewContainer{
grid-column-start:2;
}
.contactBtnContainer{
  display: grid;
  justify-content: flex-end;
}
.contactBtn{
  border:solid 1px white;
  color: white;
  padding:1.4px;
  padding-left: 25px;
  padding-right: 25px;
  transition: 500ms;
}
.contactBtn:hover{
  transform: translateY(50%);
  background-color: #caffd0;
    color:#f06543;
  font-size: 20px;
  cursor: pointer;
  border-radius: 15px;

}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0%{
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

